.back{
    height:700px;
    width:100%;
    background-color:red;
    position: fixed;
    background-image:url('road.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.airplane{
    height:500px;
    width:500px;
    background-color:rgba(0px,0px,0px,0.1);
    position:absolute;
    top:320px;
    right:0px;
    animation-name:ani;
    animation-duration:7s;
}
@keyframes ani{
    0%{right:0px;top:330px;}
    10%{right:100px;top:330px;}
    20%{right:220px;top:330px;}
    30%{right:340px;top:330px;}
    40%{right:460px;top:330px;}
    50%{right:580px;top:330px;}
    60%{right:700px;top:250px;}
    70%{right:820px;top:150px;}
    80%{right:940px;top:50px;}
    90%{right:1060px;top:-50px;}
    100%{right:1140px;top:-150px;}


}